* {
  transition: background-color 0.5s ease-in-out;
}

:root {
  --primary-color: #0f939f;
  --secondary-color: #ffe0c4;
  --grey-color: #b0b0b0;
  --dark-color: #000;
  --bg-light: #fff;
  --bg-second: #f7f7f7;
}

.dark-mode {
  --grey-color: #f7f7f7;
  --dark-color: #fff;
  --bg-light: #192734;
  --bg-second: #15202b;
  color: #fff;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Poppins';
  background-color: var(--bg-second);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

ul.breadcrumb {
  padding: 1px;
  list-style: none;
  /* background-color: var(--bg-light); */
}

ul.breadcrumb li {
  display: inline;
  font-size: 12px;
}

ul.breadcrumb li+li:before {
  padding: 8px;
  color: var(--dark-color);
  content: "/\00a0";
}

ul.breadcrumb li a {
  color: var(--dark-color);
  text-decoration: none;
}

ul.breadcrumb li a:hover {
  color: var(--dark-color);
  text-decoration: underline;
}

/*TEXT STYLING*/
.h1 {
  font-size: 28px;
  font-weight: bold;
}

.h2 {
  font-size: 26px;
  font-weight: bold;
}

.h3 {
  font-size: 35px;
  font-weight: bold;
}

.h4 {
  font-size: 20px;
  font-weight: bold;
}

.h5 {
  font-size: 16px;
  /* font-weight: bold; */
}

.h6 {
  font-size: 11px;
  font-weight: bold;
}

.font-weight-bold {
  font-weight: bold;
}

.title-head {
  font-weight: 600;
  font-size: 14px;
}

.b {
  font-weight: bold;
}

.subtitle {
  font-weight: 200;
  font-size: 12px;
}

.strike {
  text-decoration: line-through;
}

.text-black {
  color: #000;
}

.text-muted {
  color: var(--grey-color);
}

.text-default {
  color: var(--dark-color);
}

.text-primary {
  color: var(--primary-color);
}

.text-white {
  color: #fff;
}

.logo-text {
  margin-right: 70px;
  color: var(--primary-color);
}

/*END TEXT STYLING*/
.mt-4 {
  margin-top: 40px;
}

.mt-3 {
  margin-top: 30px;
}

.mt-2 {
  margin-top: 20px;
}

.mt-1 {
  margin-top: 10px;
}

/*GRID*/
.justify-content-between {
  display: flex;
  justify-content: space-between;
}

.justify-content-center {
  display: flex;
  justify-content: center;
}

.col-1 {
  width: 20%;
}

.col-2 {
  /* margin-right: 20px; */
  width: 25%;
  /* height: 115px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  outline: none;
  margin: 0%;
  padding: 0;
}

.col-3 {
  width: 25%;
}

.col-3-berita {
  width: 50%;
}

.col-8.mt-1 {
  margin: 0;
}

.col-4 {
  width: 33.33%;
}

*/ .col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

.col-9.profile-sidebar-kanan {
  width: 75%;
}

.col-3.profile-sidebar-kiri {
  width: 25%;
}

.img-solusi {
  max-width: 100%;
  max-height: 100%;
  height: inherit;
  width: inherit;
  border-radius: 20px;
}

.img-responsive {
  max-width: 100%;
  height: auto;
}

.img-solusi:hover {
  box-shadow: 0px 6px 31px -18px rgba(0, 0, 0, 0.7);
  transition: 0.3s ease-in-out;
}

.icon-circle:hover {
  color: var(--dark-color);
  transition: 0.5s ease-in-out;
}

/* .card.profile-sidebar-kanan:hover {
  box-shadow: 0px 4px 28px -13px #0f939f;
  transition: ease-in-out 0.5s;
}

.card.profile-sidebar-kiri:hover {
  box-shadow: 0px 4px 28px -13px #0f939f;
  transition: ease-in-out 0.5s;
} */

/*IMAGE*/
.img-circle {
  border-radius: 50%;
  /* -webkit-box-shadow: 0px 6px 31px -18px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 6px 31px -18px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 6px 31px -18px rgba(0, 0, 0, 0.4); */
}

.img-home-news {
  border-radius: 2%;
}

[class*="col-"] {
  float: left;
  padding: 15px;
  /*border: 1px solid red;*/
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.container {
  padding: 10px;
  margin-top: 80px;
}

/* .col-4 {
  width: 50%;
} */

table {
  /* border-collapse: collapse; */
  border-spacing: 0;
  width: 100%;
  border: 0.5px solid var(--grey-color);
}

th,
td {
  text-align: left;
  padding: 16px;
}

tr:hover {
  background-color: var(--bg-second);
}

th {
  cursor: pointer;
  background-color: var(--bg-second);
}

th,
td {
  text-align: left;
  padding: 16px;
}

/* tr:nth-child(even) {
  background-color: var(--bg-light)
} */

/*INPUT BOX*/
.form-control {
  width: 100%;
  box-sizing: border-box;
  height: 40px;
  color: var(--dark-color);
}

/* When the input field gets focus, change its width to 100% */
.form-control:focus {
  width: 100%;
}

textarea:focus,
input:focus {
  outline: none;
}

/*VERTICAL MENU*/
input {
  border: 0px solid #b0b0b0;
  border-radius: 5px;
  padding: 10px;
  background-color: var(--bg-second);
  color: var(--grey-color);
}

.listgroup-container {
  list-style-type: none;
  margin: 0;
  padding: 0px;
}

.listgroup-items {
  display: block;
  color: var(--dark-color);
  padding: 8px 16px;
  margin-top: 0px;
  transition: 0.3s;
  cursor: pointer;
}

.listgroup-items a {
  text-decoration: none;
}

.listgroup-items:hover {
  background-color: var(--bg-second);
  color: var(--dark-color);
}

.subtitle {
  font-weight: 300;
  font-size: 12px;
}

.title-head {
  font-weight: 600;
  font-size: 14px;
}

.text-default {
  color: var(--dark-color);
}

.text-muted {
  color: #b0b0b0;
}

/*BUTTON*/
button {
  border: 0px;
  padding: 10px 15px 10px 15px;
  cursor: pointer;
}

.btn-primary {
  color: #fff;
  background-color: #0f939f;
  -webkit-box-shadow: 0px 4px 28px -10px #0f939f;
  -moz-box-shadow: 0px 4px 28px -10px #0f939f;
  box-shadow: 0px 4px 28px -10px #0f939f;
}

.btn-primary:hover {
  color: #fff;
  background-color: #0d7f89;
}

.btn-danger {
  color: #fff;
  background-color: #e74c3c;
  -webkit-box-shadow: 0px 4px 28px -10px rgba(231, 77, 60, 1);
  -moz-box-shadow: 0px 4px 28px -10px rgba(231, 77, 60, 1);
  box-shadow: 0px 4px 28px -10px rgba(231, 77, 60, 1);
}

.btn-danger:hover {
  color: #fff;
  background-color: #c0392b;
}

.btn-success {
  color: #fff;
  background-color: #2ecc71;
  -webkit-box-shadow: 0px 4px 28px -10px rgba(46, 204, 112, 1);
  -moz-box-shadow: 0px 4px 28px -10px rgba(46, 204, 112, 1);
  box-shadow: 0px 4px 28px -10px rgba(46, 204, 112, 1);
}

.btn-success:hover {
  background-color: #27ae60;
}

.btn-info {
  color: #fff;
  background-color: #606360;
  -webkit-box-shadow: 0px 4px 28px -10px rgba(96, 96, 96, 1);
  -moz-box-shadow: 0px 4px 28px -10px rgba(96, 96, 96, 1);
  box-shadow: 0px 4px 28px -10px rgba(96, 96, 96, 1);
}

.btn-info:hover {
  background-color: #515351;
}

.btn-black {
  color: #fff;
  background-color: #000000;
  -webkit-box-shadow: 0px 4px 28px -10px rgba(96, 96, 96, 1);
  -moz-box-shadow: 0px 4px 28px -10px rgba(96, 96, 96, 1);
  box-shadow: 0px 4px 28px -10px rgba(96, 96, 96, 1);
}

.btn-black:hover {
  background-color: #000000;
}

.btn-C {
  color: #fff;
  background-color: #1461a8;
  -webkit-box-shadow: 0px 4px 28px -10px rgba(96, 96, 96, 1);
  -moz-box-shadow: 0px 4px 28px -10px rgba(96, 96, 96, 1);
  box-shadow: 0px 4px 28px -10px rgba(96, 96, 96, 1);
}

.btn-C:hover {
  background-color: #0d4477;
}

.btn-block {
  width: 100%;
  margin-right: 25px;
  box-sizing: border-box;
}

.btn {
  border-radius: 10px;
}

.btn-darkmode {
  float: right;
  border-radius: 10px;
  margin-top: 20px;
  margin-right: 20px;
}

.disabled {
  pointer-events: none;
  z-index: 100 !important;
  opacity: 0.7 !important;
  z-index: inherited;
  opacity: inherited;
}

/*END BUTTON*/

.topnav {
  background-color: var(--bg-light);
  box-shadow: 0px 6px 31px -18px rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.topnav a {
  float: left;
  display: block;
  color: var(--dark-color);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-weight: 600;
  border-radius: 10px;
  margin: 10px;
}

a.active {
  background-color: var(--primary-color);
  color: rgb(255, 255, 255);
}

.topnav .icon {
  display: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 17px;
  font-weight: 600;
  border: none;
  outline: none;
  color: var(--dark-color);
  padding: 14px 16px;
  background-color: inherit;
  /* font-family: inherit; */
  margin: 12px;
  border-radius: 10px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--bg-light);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  /* font-size: 10px;
  font-weight: 600; */
  overflow: display;
}

.dropdown-content a {
  float: none;
  color: var(--dark-color);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-size: 13px;
}

.topnav a.profile:hover,
.dropdown:hover .dropbtn {
  background-color: rgb(234, 234, 234);
  color: rgb(0, 0, 0);
}

.topnav a.beranda:hover,
.dropdown:hover .dropbtn {
  background-color: rgb(234, 234, 234);
  color: rgb(0, 0, 0);
}

.dropdown-content a:hover {
  background-color: rgb(234, 234, 234);
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media screen and (max-width: 600px) {

  .topnav a:not(:first-child),
  .dropdown .dropbtn {
    display: none;
  }

  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {
    position: relative;
  }

  .topnav.responsive .icon {
    position: fixed;
    right: 0;
    top: 0;
    color: var(--dark-color);
  }

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  .topnav.responsive .dropdown {
    float: none;
  }

  .topnav.responsive .dropdown-content {
    position: relative;
  }

  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 95%;
    text-align: left;
    border-radius: 10px;
  }
}

/* Add a card effect for articles */
.card {
  background-color: var(--bg-light);
  border-radius: 10px;
  box-shadow: 0px 6px 31px -18px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 6px 31px -18px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 6px 31px -18px rgba(0, 0, 0, 0.4);
  overflow: hidden;
}

.card-heading {
  padding: 20px;
  border-bottom: 1px solid var(--bg-second);
}

.card-heading-calcheader {
  background-color: #667A77;
  padding: 10px;
  /* border-bottom: 1px solid var(--bg-second); */
}

.card-heading-calcheader2 {
  background-color: #9e9f9d;
  margin: 0;
  padding: 20px;
  border-radius: 5px;
}

.card-heading-calcheader3 {
  background-color: #4C463C;
  padding: 30px;
  border-radius: 5px;
}

.card-heading-calccontent {
  background-color: #E2E2D3;

  /* border-bottom: 1px solid var(--bg-second); */
}

.output {
  grid-column: 1 / -1;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
}

.output .previous-operand {
  color: white;
  font-size: 1.5rem;
}

.output .current-operand {
  color: white;
  font-size: 2.5rem;
}

.card-berita:hover {
  box-shadow: 0px 6px 31px -10px rgba(0, 0, 0, 0.4);
  transition: 0.35s ease-in-out;
}

.card-body {
  padding: 20px;
}

/* Footer */
.footer {
  padding: 20px 20px 20px 20px;
  text-align: center;
  background-color: var(--bg-light);
  margin-top: 100px;
  overflow: hidden;
  box-shadow: 0px 6px 31px -18px rgba(0, 0, 0, 0.9);
}

.center {
  text-align: center;
}

.pagination {
  display: inline-block;
}

.pagination a {
  color: var(--dark-color);
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
  margin: 0 4px;
}

.pagination a.active {
  background-color: var(--primary-color);
  color: white;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
  border-radius: 5px;
}

.isi-berita {
  font-size: 13px;
  text-align: justify;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other  */
@media screen and (max-width: 800px) {

  .leftcolumn,
  .rightcolumn {
    width: 100%;
    padding: 0;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}

/*RESPONSIVE*/
/*GRID*/
@media screen and (max-width: 600px) {
  .col-1 {
    width: 100%;
  }

  .col-2 {
    width: 100%;
  }

  .col-3 {
    width: 100%;
  }

  .col-4 {
    width: 100%;
  }

  /*.col-4 {width: 100%;}*/
  .col-5 {
    width: 100%;
  }

  .col-6 {
    width: 100%;
  }

  .col-7 {
    width: 100%;
  }

  .col-8 {
    width: 100%;
  }

  .col-9 {
    width: 100%;
  }

  .col-10 {
    width: 100%;
  }

  .col-11 {
    width: 100%;
  }

  .col-12 {
    width: 100%;
  }

  .col-9.profile-sidebar-kanan {
    width: 100%;
  }

  .col-3.profile-sidebar-kiri {
    width: 100%;
  }
}

/*END GRID*/

/*NAV*/
@media only screen and (max-width: 650px) {
  .topnav {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .topnav .logo {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  .topnav .navbar {
    -webkit-box-flex: 0;
    -ms-flex: 0;
    flex: 0;
  }

  .topnav .navbar ul {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    position: fixed;
    padding: 10px;
    left: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background: var(--bg-light);
    width: 100%;
    height: 100%;
    overflow: auto;
    -webkit-transition: left .3s;
    -o-transition: left .3s;
    transition: left .3s;
  }

  .topnav .navbar ul li a {
    padding: 10px;
    margin-top: 10px;
    font-size: 16px;
    height: auto;
    line-height: normal;
    color: var(--dark-color);
  }

  .topnav .navbar ul .close {
    display: block;
  }

  .topnav .navbar .icon-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: var(--dark-color);
  }

  .topnav .navbar ._Menus-show {
    left: 0;
  }
}